.background-image{
    /*background-image: url("/assets/inicioF.jpg");*/
    background-color: rgb(158, 139, 202);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center;*/
    height: 100vh;
}

.NombreV{
    display: flex;
    justify-content: center;
}

.alinear{
    display: flex;
    justify-content: center;
}

.Cartilla{
      font-family: 'Calibri';
      font-size: 35px;
}

* {
    font-family: sans-serif; /* Change your font family */
  }
  
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #08352c;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  .linkkk {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-family: 'Calibri';
    font-size: 20px;
  }
  
  .linkkk:hover {
    color: black;
    text-decoration: underline;
  }
