.background-image{
    /*background-image: url("/assets/inicioF.jpg");*/
    background-color: rgb(158, 139, 202);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center;*/
    height: 200vh;
}



/* Tabla Diseño */

* {
    font-family: sans-serif; /* Change your font family */
  }
  
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #08352c;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }


  /* FORMULARIO */
  .form-register {
    width: 600px;
    background: #24303c;
    padding: 20px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    position: absolute;

    
  }

  .cont{
    display: flex;
    justify-content: center;
  }

  .NombreV{
    display: flex;
    justify-content: center;
  }

  .Cartilla{
      font-family: 'Calibri';
      font-size: 35px;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }

  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }