<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <title>Login</title>
  </head>
  <body>
    <main class="login-design">
      <div class="waves">
        <!--<img src="./assets/loginPerson.png" alt="" />-->
      </div>
      <div class="login">
        <div class="login-data">
          <img class="patita" src="./assets/tema_patitas.jpg" alt="" />
          <h1>Inicio de Sesión</h1>
          <form action="#" class="login-form">
            <div class="input-group">
              <label class="input-fill">
                <input
                type="text"
                [(ngModel)]="equipo.usuario"
                name="usuario"
                required="required"
                placeholder="Usuario"
                />
                <!--<span class="input-label">Nombre De Usuario</span>-->
                <i class="fas fa-envelope"></i>
              </label>
            </div>
            <div class="input-group">
              <label class="input-fill">
                <input
                type="password"
                [(ngModel)]="equipo.contra"
                name="contra"
                required="required"
                placeholder="Contraseña"
                />
                <!--<span class="input-label">Contraseña</span>-->
                <i class="fas fa-lock"></i>
              </label>
            </div>
            <a class="nav-link active" routerLink="/RegistrarCuenta">Crear cuenta</a>
            <!--<input type="submit" value="Iniciar Sesión" class="btn-login" />-->
            <button class="btn-login" (click)="login()">Iniciar</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>